.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: head;
  background-color: #F9F5F3;
}

.header__logo {
  margin-left: 4rem;
  height: 4.5rem;
  display: block;
}

.likes {
  padding: 0 !important;
  position: relative;
  align-self: stretch;

  &__field {
    padding: 0 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      background-color: #F2EFEE;
    }
  }

  &__icon {
    width: 3.75rem;
    height: 3.75rem;
    color: #f03d3d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
  }

  &__panel {
    padding: 2rem 0;
    width: 34rem;
    position: absolute;
    right: 0;
    top: 10rem;
    background-color: #fff;
    box-shadow: 0 0.8rem 5rem 2rem rgba(101, 90, 86, 0.1);
    visibility: hidden;
    transition: all .5s .2s;
    z-index: 10;
    opacity: 0;
  }

  &__panel:hover,
  &__field:hover + &__panel {
    visibility: visible;
    opacity: 1;
  }  
}
